body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.search-bar {
  display: flex;
  width: 80%;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ced4da;
}

.search-bar label {
  margin-bottom: 5px;
  align-items: center;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 5px;
  font-size: 16px;
}

.search-bar button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

button{
  background-color: #ADD8E6;
  border-radius: 6px;
  width: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: auto;
  margin: 3px;
}

.tabelaMedicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.doctor-info {
  width: 40%;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: white;
}
/* 
.doctor-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
} */

.mapa {
  height: 55%;
  width:100%;
  border-radius: 3%;
  display:flex ;
  justify-content: center;
  align-items: center;
  margin-top:4%;
}


.doctor-info {
  display: flex;
  flex-direction: row;
  width: 40%;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: white;
}

.doctor-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.doctor-info .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doctor-info .info h2 {
  margin-bottom: 10px;
}

.doctor-info .disponibilidade {
  margin-left: 20px;
}