body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  /* bolota */
  color: #000000;
  /* waguinho */
  height: 1dvh;
}

.table {
  flex: 1;
}

.tabela {
  flex: 1;
}

.titulo {
  padding: 30px;
}

h3{
  font-size: 25px;
}

p{
  font-size: 25px;
}


.img {
  height: 300px;
  width: 300px;
  border-radius: 50px;
}

.botao {
  background-color: #ADD8E6;
  border-radius: 6px;
  font-size: 14px;
}

.topbody {
  margin-left: 5%;
  margin-top: 2%;
  display: flex;
  flex-direction: center;
  justify-content: space-around;
  align-content: stretch;
  font-size: 30px;
}

.service {
  margin-top: 3%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}