{% extends "layout.html"%}
<link rel="stylesheet" href={{url_for("static", filename="gestao_servico.css" )}}>
{% block corpo %}

<body>
    <h1>Gerenciamento de Especialidades</h1>


    <div class="modal">

        <h2>Adicione mais Especialidades </h2>
        {% if session["mensagem"] %}
        <p>{{session[mensagem]}}</p>
        {% endif %}
        <form action={{url_for('especialidadeCadastrar')}} method="POST" class="formServico">
            <label for="descricao">Nome da especialidade:</label>
            <input type="text" id="descricao" name="Descrição" required><br>

            <button type="submit">adicionar</button>
        </form>

        <h2> Atualizar Especialidades </h2>
        <form action={{url_for('especialidadeAtualizar')}} method="POST" class="formServico">
            <label for="id">ID do Serviço:</label>
            <input type="id" id="id" name="id" required><br>
            <label for="descricao">Nome da especialidade:</label>
            <input type="text" id="descricao" name="Descricao" required><br>

            <button type="submit">Atualizar</button>
        </form>

        <h2> Deletar Nome da especialidade:</h2>
        <form action={{url_for('especialidadeDeletar')}} method="POST" class="formServico">
            <label for="id">ID do Serviço:</label>
            <input type="id" id="id" name="id" required><br>
            <button type="submit">Deletar</button>
        </form>
    </div>
    <br>
    <table border="1">
        <thead>
            <td>Id</td>
            <td>Descrição</td>
        </thead>
        <tbody>
            {% for servico in listaEspecialidades %}
            <tr>
                <td>{{servico[0]}}</td>
                <td>{{servico[1]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <br>
</body>
{% endblock %}

{% block js %}

{% endblock %}