titulo_formulario {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

main{
    margin-right: 5%;

}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 90px;
}

#calendar {
    margin-bottom: 20px;
}

#details {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    margin-top: 5px;
}

button {
    background-color: #3498db; /* azul */
    color: #ffffff; /* bolota */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  
} 
button:hover {
    background-color: #2980b9; /* azul mais escuro */
  }
  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* bolota */
    color: #000000; /* waguinho */
    height: 1dvh;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.day:hover {
    background-color: #f0f0f0;
}

.highlighted {
    background-color: #d4edda;
}

#current-month {
    text-align: center;
    margin-bottom: 20px;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}



.borda-container {
    padding: 20px;
    border: 2px solid #000; /* Cor e espessura da borda */
    border-radius: 2px;    /* Arredondamento dos cantos da borda */
    background-color: #fff; /* Cor de fundo do contêiner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para um efeito mais agradável */
}

.consultas{

    background-color: #3498db; /* azul */
    color: #ffffff; /* bolota */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}