<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tela de Inicio</title>
  <link rel="stylesheet" href={{url_for("static", filename="index.css" )}}>
  {% block estilo %} {% endblock %}
</head>

<body>
  <header>
    <h1>OdontoFácil</h1>
    <nav>
      <ul>

        <button onclick="redirecionarPara('/')">Inicio</button>
        {% if ("nivel" in session and session["nivel"] == "paciente") %}
        <button onclick="redirecionarPara('/servico')">Serviços</button>
        {% endif %}
        {% if ("nivel" in session and session["nivel"] == "secretaria") %}
        <button onclick="redirecionarPara('/gestao')">Gestão de serviços </button>
        {% endif %}
        <button onclick="redirecionarPara('/servico/gestao/consultasAgendadas')">Consultas Agendadas</button>
        <button onclick="redirecionarPara('/servico/gestao/consultasAgendadas/sobre')">Sobre</button>
        <button onclick="redirecionarPara('/servico/gestao/consultasAgendadas/sobre/contato')">Contato</button>
        <button onclick="redirecionarPara('/servico/gestao/consultasAgendadas/sobre/contato/usuario')">Perfil de
          usuario</button>
        {% if "nivel" not in session %}
        <button onclick="redirecionarPara('/login')">Login</button>
        {% else %}
        <button>{{session["email"]}}</button>
        <button onclick="redirecionarPara('/logout')">Logout</button>
        {% endif %}

      </ul>
    </nav>
  </header>
  {% block corpo%} {% endblock %}

  <footer>
    <p>&copy; 2024 OdontoFácil. Todos os direitos reservados.</p>
  </footer>
  <script>
    function redirecionarPara(link) {
      window.location.href = link; // Redireciona para o link especificado
    }
  </script>
  {% block js %} {% endblock %}
</body>

</html>