{% extends "layout.html"%}

{% block estilo %}
<link rel="stylesheet" href={{url_for("static", filename="contato.css")}}>

{% endblock %}

{% block corpo %}

        <form id="contactForm">
            <div class="input-container">
                <label for="name">Nome: clinica OdontoFácil</label>
                <i class="fas fa-user"></i>
               
            </div>

            <div class="input-container">
                <label for="email">E-mail: OdontoFácil@gmail.com</label>
                <i class="fas fa-envelope"></i>
           
            </div>

            <div class="input-container">
                <label for="phone">Telefone: (11) 1234-5678</label>
                <i class="fas fa-phone"></i>
               
            </div>

            <div class="input-container">
                <label for="message">Mensagem: entre em contatocom nosco</label>
                <i class="fas fa-comment"></i>
                <textarea id="message" name="message" rows="4" required></textarea>
                <button type="submit"> Enviar </button>
            </div>

            <div class="input-container">
                <p>Acesse nosso Instagram:
                <a href="https://youtu.be/GF7yDSYexMI?si=G6aDnEnvzoxRvfhd">instagram</a>
                </p>
              
            </div>
        </form>
{% endblock %}

{% block js %}

        <script>
            function redirecionarPara(link) {
              window.location.href = link; // Redireciona para o link especificado
            }
          </script>

{% endblock %}
