{% extends "layout.html"%}

{% block estilo %}
<link rel="stylesheet" href={{url_for("static", filename="gestao.css" )}}>
<link rel="stylesheet" href="{{url_for('static', filename='estilo_mensagem.css')}}">
{% endblock %}

{% block corpo %}

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="caixa"> 
      {% for message in messages %}
        <ul>
          <li>{{ message }}</li>
        </ul>
        <a href="{{ url_for('index') }}"><button class="botao">ok</button></a>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}

    <h1 class="titulo">Gerenciamento de Médicos</h1>
    <div class="container">

        <h2 class="titulo">Adicione mais Médicos</h2>
        {% if session["mensagem"] %}
        <p>{{session[mensagem]}}</p>
        {% endif %}
        <form action={{url_for('medicoCadrastar')}} method="POST" class="formMedico">
            <label for="nome">Nome do Médico:</label>
            <input type="text" id="nome" name="NOME" required><br>
            <label for="CRM">CRM:</label>
            <input type="text" id="CRM" name="CRM" required><br>
            <label for="especialidades">Especialidades do medico:</label><br>
            <select name="especialidades" id="especialidades">
                {% for especialidade in listaEspecialidades %}
                <option value={{especialidade[0]}}>{{especialidade[1]}}</option>
                {% endfor %}
            </select><br>
            <label for="servicos">Serviços prestados pelo medico:</label><br>
            <select name="servicos" id="servicos">
                {% for servico in listaServico %}
                <option value={{servico[0]}}>{{servico[2]}}</option>
                {% endfor %}
            </select><br>
            <button type="submit">adicionar</button>
        </form>
        <br>
        <hr>
        <br>
        <h2 class="titulo"> Atualizar Médicos </h2>
        <form action={{url_for('medicoAtualizar')}} method="POST" class="formMedico">
            <label for="IDMEDICO">ID do Médico:</label>
            <input type="ID" id="IDMEDICO" name="IDMEDICO" required><br>
            <label for="NOME">Nome Médico :</label>
            <input type="text" id="NOME" name="NOME" required><br>
            <label for="CRM">CRM:</label>
            <input type="text" id="CRM" name="CRM" required><br>
            <label for="especialidades">Especialidades do medico:</label><br>
            <select name="especialidades" id="especialidades">
                {% for especialidade in listaEspecialidades %}
                <option value={{especialidade[0]}}>{{especialidade[1]}}</option>
                {% endfor %}
            </select><br>
            <label for="servicos">Serviços prestados pelo medico:</label><br>
            <select name="servicos" id="servicos">
                {% for servico in listaServico %}
                <option value={{servico[0]}}>{{servico[2]}}</option>
                {% endfor %}
            </select><br>
            <button type="submit">Atualizar</button>
        </form>
        <br>
        <hr>
        <br>
        <h2 class="titulo">Deletar Médicos</h2>
        <form action={{url_for('medicoDelatar')}} method="POST" class="formMedico">
            <label for="IDMEDICO">ID do Médico:</label>
            <input type="id" id="IDMEDICO" name="IDMEDICO" required><br>
            <button type="submit">Deletar</button>
        </form>
        <br>
        <hr>
        <br>
        <table id border="1">
            <thead>
                <td>Id</td>
                <td>Nome Médico</td>
                <td>CRM</td>
                <td>Especialidade</td>
            </thead>
            <tbody>
                {% for medico in listaMedicos %}
                <tr>
                    <td>{{medico[0]}}</td>
                    <td>{{medico[1]}}</td>
                    <td>{{medico[2]}}</td>
                    <td>{{medico[3]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    </div>
</body>

{% endblock %}

{% block js %}
<script> // Funções para gerenciar serviços
    // Get the table
    const table = document.getElementById('myTable');

    // Get all th elements
    const thElements = table.getElementsByTagName('th');

    // Loop through th elements and remove if empty
    for (let i = thElements.length - 1; i >= 0; i--) {
        if (thElements[i].textContent.trim() === '') {
            thElements[i].remove();
        }
    }  
</script>
{% endblock %}