{% extends "layout.html"%}

{% block estilo %}
<link rel="stylesheet" href={{url_for("static", filename="gestao_servico.css" )}}>
{% endblock %}

{% block corpo %}

<body>
 
    <!-- formulario do medico -->

    <div class="container">
        <h2>Selecione o Dia da Semana:</h2>
        <form action="/horario/adicionar" method="POST" class="formHorario">
            <div class="campo">
                <label> Selecione o Dia da Semana:
                    <select name="dia-da-semana">
                        <option value="segunda">Segunda-feira</option>
                        <option value="terca">Terça-feira</option>
                        <option value="quarta">Quarta-feira</option>
                        <option value="quinta">Quinta-feira</option>
                        <option value="sexta">Sexta-feira</option>
                        <option value="sabado">Sábado</option>
                        <option value="domingo">Domingo</option>
                    </select>
                    <br>
        
                    <label for="iniConsulta">Digite o Inicio da Consulta:</label>
                    <input type="time" id="iniConsulta" name="iniConsulta" required>
                    <br>
        
                    <label for="fimConsulta">Digite o Fim da Consulta:</label>
                    <input type="time" id="fimConsulta" name="fimConsulta" required>
                    <br>
        
                    <label for="iniIntervalo">Digite o Inicio do Intervalo :</label>
                    <input type="time" id="iniIntervalo" name="iniIntervalo" required>
                    <br>
        
                    <label for="fimIntervalo">Digite o Fim do Intervalo :</label>
                    <input type="time" id="fimIntervalo" name="fimIntervalo" required>
                    <br>
        
                    <label for="tempConsulta">Digite a Média do Tempo da Consulta :</label>
                    <input type="time" id="tempConsulta" name="tempConsulta" required>
                    <br>
                    <button type="submit">Salvar</button></label>
            </div>
        </form>

        <h2> Atualizar Médicos </h2>
        <form action="/medico/atualiza" method="POST" class="formMedico">
            <div class="campo">
                <label for="IDMEDICO">ID do Médico:</label>
                <input type="ID" id="IDMEDICO" name="IDMEDICO" required><br>
                <label for="NOME">Nome Médico :</label>Z
                <input type="text" id="NOME" name="NOME" required><br>
                <label for="CRM">CRM:</label>
                <input type="text" id="CRM" name="CRM" required><br>
                <button type="submit">Atualizar</button>
            </div>
        </form>

        <h2> Deletar Médico</h2>
        <form action="/medico/deleta" method="POST" class="formMedico">
            <div class="campo">
                <label for="IDMEDICO">ID do Médico:</label>
                <input type="id" id="IDMEDICO" name="IDMEDICO" required><br>
                <button type="submit">Deletar</button>
            </div>
        </form>
        <br>

        <table id="myTable">
            <th class="thcabeca">
            <td>Id</td>
            <td>Nome Médico</td>
            <td>CRM</td>
            </th>

            {% for medico in listaMedico %}
            <tr>
                <td>{{medico[0]}}</td>
                <td>{{medico[1]}}</td>
                <td>{{medico[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
{% endblock %}

{% block js %}
<script> // Funções para gerenciar serviços
    // Get the table
    const table = document.getElementById('myTable');

    // Get all th elements
    const thElements = table.getElementsByTagName('th');

    // Loop through th elements and remove if empty
    for (let i = thElements.length - 1; i >= 0; i--) {
        if (thElements[i].textContent.trim() === '') {
            thElements[i].remove();
        }
    }  
</script>
{% endblock %}
