<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tela de Inicio</title>
  <link rel="stylesheet" href="{{url_for('static', filename='layout.css' )}}">
  {% block estilo %} {% endblock %}
</head>

<body>
  <header>
    <h1>OdontoFácil</h1>

    <div class="navbar">
      <a href="{{url_for('index')}}">Inicio</a>
      {% if ("nivel" in session and (session["nivel"] == "secretaria")) %}
      <div class="dropdown">
        <button class="dropbtn">Gestao <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
          <a href="{{url_for('especialidadeGet')}}">Especialidades</a>
          <a href="{{url_for('servicosGet')}}">Serviços</a>
          <a href="{{url_for('medicosGet')}}">Medicos</a>
          <a href="{{url_for('disponibilidadeGet')}}">Disponibilidade</a>
        </div>
      </div>
      {% endif %}
      {% if ("nivel" in session and (session["nivel"] != "secretaria")) %}
      <a href="/agendarConsulta">Agendar Consultas </a>
      {% endif %}
      {% if ("nivel" in session and (session["nivel"] == "secretaria" or session["nivel"] == "paciente")) %}
      <a href="/consultasAgendadas">Consultas Agendadas</a>
      {% endif %}
      <a href="/usuario">Perfil de usuario</a>
      <a href="/sobre">Sobre</a>
      <a href="/contato">Contato</a>
      {% if "nivel" not in session %}
      <a href="{{url_for('loginGet')}}">Login</a>
      {% else %}
      <p>{{session["email"]}}</p>
      <a href="{{url_for('logout')}}">Logout</a>
      {% endif %}

    </div>
  </header>
  {% block corpo%} {% endblock %}

  <footer>
    <p>&copy; 2024 OdontoFácil. Todos os direitos reservados.</p>
  </footer>

  {% block js %} {% endblock %}
  <script>
    function redirecionarPara(link) {
      window.location.href = link; // Redireciona para o link especificado
    }
  </script>

</body>
</html>