{% extends "layout.html"%}

{% block estilo %}
<link rel="stylesheet" href="{{url_for('static', filename= 'sobre.css')}}">
{% endblock %}

{% block corpo %}


<section class="sobre">
  <div class="sobre-conteudo">
    <p>Somos uma plataforma de agendamento odontológico que busca conectar pacientes com clínicas de qualidade. Nossa
      missão é proporcionar uma experiência de agendamento fácil, rápida e segura para todos os envolvidos.</p>
    <p>Nossa equipe é composta por profissionais da área de saúde e tecnologia, que trabalham juntos para desenvolver
      soluções inovadoras e eficazes para o setor odontológico.</p>
    <p>Nossa plataforma é projetada para ser fácil de usar, tanto para os pacientes quanto para as clínicas. Nossa
      equipe trabalha arduamente para garantir que todos os agendamentos sejam realizados com segurança e eficiência.
    </p>
  </div>
  <div class="sobre-clinicas">
    <h3>Nossa Equipe</h3>
    <ul>
      <li>
        <img src="#" alt="Foto do membro da equipe 1">
        <h4>membro da equipe</h4>
        <p>escrever algo sobre a clinica 1</p>
      </li>
      <li>
        <img
          src="https://play-lh.googleusercontent.com/slsf2AG3KUN4LP7NEC_6iDhfRpFJlgTNjp1TkTryx0QxoqjPXpg4RhxwgkNmlyUOLIY"
          alt="Foto do membro da equipe 2">
        <h4>membro da equipe</h4>
        <p>escrever algo sobre a clinica</p>
      </li>
      <li>
        <img src="#" alt="Foto do membro da equipe 3">
        <h4>membro da equipe</h4>
        <p>escrever algo sobre a clinica</p>
      </li>
    </ul>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3931.206524404726!2d-34.88679098505967!3d-8.060289676626722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab220c3425f397%3A0xa3301c032a00803e!2sCasa+Amarela%2C+Recife%2C+PE!5e0!3m2!1spt-BR!2sbr!4v1694405773685!5m2!1spt-BR!2sbr"
      width="70%" height="500"   justify-content: center; loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

</section>
{% endblock %}

{% block js %}
<script>
  function redirecionarPara(link) {
    window.location.href = link; // Redireciona para o link especificado
  }
</script>
{% endblock %}